<div class="preloader"><div class="spinner"></div></div><!-- /.preloader -->
<header class="header home-page-one">
    <div class="container">
        <div class="appilo-menu clearfix">
            <nav class="navbar navbar-expand-lg navbar-custom navbar-light">

                <a class="navbar-brand  mr-auto " href="index.html">
                    <img src="img/logo.png" alt="Awesome Image" class="default-logo">
                    <img src="img/logo-2.png" alt="Awesome Image" class="stick-logo">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse navbar-nav" id="navbarToggler">
                    <ul class="ml-auto">
                        <li><a class="nav-link active" href="#banner">Home</a></li>
                        <li><a class="nav-link" href="#features">Features</a></li>
                        <li><a class="nav-link" href="#how-it-works">How It Works</a></li>
                        <li><a class="nav-link" href="#pricing">Pricing</a></li>
                        <li class="dropdown">
                            <a class="nav-link" href="#blog">
                                Blog
                            </a>
                            <ul class="dropdown-menu">
                                <li><a target="_blank" href="blog.html">Blog</a></li>
                                <li><a target="_blank" href="blog-details.html">Blog single</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="sign-up-btn">
                    <a href="#" class="sign-btn">sign in</a>
                </div>
            </nav>
        </div>
        </div>
    </header><!-- /.header -->
