<div class="preloader">
	<div class="spinner"></div>
</div><!-- /.preloader -->

<section class="banner-static" id="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="banner-content">
					<h3>Medcario<br />Health Care at Your Doorstep!</h3>
					<p>Your Health, Our Priority: Putting Your Health in Your Hands:<br /> Welcome to the Next
						Generation of Healthcare</p>
					<a href="#" class="thm-btn"><span>Download App</span></a><!--
				--><a href="#" class="thm-btn borderd"><span>Discover more</span></a>
				</div><!-- /.banner-content -->
			</div><!-- /.col-md-6 -->
			<div class="col-lg-6 col-md-12">
				<div class="banner-moc-box clearfix">
					<img src="assets/img/1st.png/" alt="circled-img" class="rounded-3 float-left" />
				</div><!-- /.banner-moc-box -->
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.banner-static -->

<div class="fun-fact">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
				<div class="single-fun-fact">
					<p><span class="counter">1,265</span> Users</p>
				</div><!-- /.single-fun-fact -->
			</div><!-- /.col-md-3 -->
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
				<div class="single-fun-fact">
					<p><span class="counter">1,000</span> Download</p>
				</div><!-- /.single-fun-fact -->
			</div><!-- /.col-md-3 -->
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
				<div class="single-fun-fact">
					<p><span class="counter">508</span> Likes</p>
				</div><!-- /.single-fun-fact -->
			</div><!-- /.col-md-3 -->
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
				<div class="single-fun-fact">
					<p><span class="counter">809</span> 5 star Rating</p>
				</div><!-- /.single-fun-fact -->
			</div><!-- /.col-md-3 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
	<div class="separator"></div><!-- /.separator -->
</div><!-- /.fun-fact -->

<section class="app-features" id="features">
	<div class="container">
		<div class="sec-title text-center">
			<h2>Madcario's Home Health Care Solutions</h2>
			<p>Madcario offers a range of personalized and convenient services, providing<br /> quality medical care,
				monitoring,and assistance in the comfort of one's<br /> own home,ensuring enhanced well-being and
				independence.</p>
		</div><!-- /.sec-title -->
		<div class="app-features-carousel owl-theme owl-carousel">
			<div class="item">
				<div class="single-app-features text-center">
					<img src="assets/img/baby care service copy.jpg">
					<h3>Baby Care </h3>
					<p>Medcario offers personalized attention and nurturing support for infants,ensuring <br />their
						well-being and development.</p>
					<div class="line"></div><!-- /.line -->
				</div><!-- /.single-app-features -->
			</div><!-- /.item -->
			<div class="item">
				<div class="single-app-features text-center">
					<img src="assets/img/mother care at home copy.jpg">
					<h3>Mother care</h3>
					<p> We provide essential support and assistance to new mothers, promoting their physical and
						<br />emotional well-being.
					</p>
					<div class="line"></div><!-- /.line -->
				</div><!-- /.single-app-features -->
			</div><!-- /.item -->
			<div class="item">
				<div class="single-app-features text-center">
					<img src="assets/img/First Aid Service copy.jpg">
					<h3>First aid Services</h3>
					<p>First aid services deliver prompt and critical assistance during emergencies, saving <br />lives
						and preventing further harm.</p>
					<div class="line"></div><!-- /.line -->
				</div><!-- /.single-app-features -->
			</div><!-- /.item -->
			<div class="item">
				<div class="single-app-features text-center">
					<img src="assets/img/Catheterization copy.jpg">
					<h3>catheter care</h3>
					<p> Catheter care involves proper hygiene and maintenance of catheters, ensuring comfort<br /> and
						reducing the risk of infections.</p>
					<div class="line"></div><!-- /.line -->
				</div><!-- /.single-app-features -->
			</div><!-- /.item -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.app-features -->

<section class="how-app-work-section" id="how-it-works">
	<div class="container">
		<div class="row">
			<div class="col-md-6 how-app-work-slider-content">
				<img src="assets/img/profile.png" class="circled-img" alt="Awesome Image" />
				<div class="how-app-work-slider-wrapper">
					<div class="how-app-work-screen-mobile-image"></div>
					<!--Slider-->
					<ul class="slider">
						<li class="slide-item">
							<img src="img/how-we-work-slide-1.png" alt="Awesome Image" />
						</li>
						<li class="slide-item">
							<img src="img/how-we-work-slide-2.png" alt="Awesome Image" />
						</li>
						<li class="slide-item">
							<img src="img/how-we-work-slide-4.png" alt="Awesome Image" />
						</li>
					</ul>
				</div><!-- /.how-app-work-slider-wrapper -->

			</div><!-- /.col-md-6 -->
			<div class="col-md-6">
				<div class="how-app-work-content-wrap">
					<div class="title">
						<h3>How does this App Work?</h3>
					</div><!-- /.title -->
					<div class="how-app-work-content" id="how-app-work-slider-pager">
						<a href="#" class="pager-item active" data-slide-index="0">
							<div class="single-how-app-work ">
								<div class="icon-box">
									<div class="inner">
										<i class="flaticon-responsive-design-symbol"></i>
									</div><!-- /.inner -->
								</div><!-- /.icon-box -->
								<div class="text-box">
									<h4>Make a Profile</h4>
									<p>Making a profile involves providing<br /> essential information to create a
										<br /> personalized representation that<br /> reflects one's identity and
										interests.
									</p>
								</div><!-- /.text-box -->
							</div>
						</a><!-- /.single-how-app-work -->
						<a href="#" class="pager-item" data-slide-index="1">
							<div class="single-how-app-work">
								<div class="icon-box">
									<div class="inner">
										<i class="flaticon-cloud-computing"></i>
									</div><!-- /.inner -->
								</div><!-- /.icon-box -->
								<div class="text-box">
									<h4>Download it for Free</h4>
									<p>You can download it for free, gaining <br />access to valuable health care
										services.
									</p>
								</div><!-- /.text-box -->
							</div>
						</a><!-- /.single-how-app-work -->
						<a href="#" class="pager-item" data-slide-index="2">
							<div class="single-how-app-work ">
								<div class="icon-box">
									<div class="inner">
										<i class="flaticon-quality"></i>
									</div><!-- /.inner -->
								</div><!-- /.icon-box -->
								<div class="text-box">
									<h4>Enjoy this App</h4>
									<p>Enjoy the health care service app, prioritizing<br /> your well-being with
										convenient access to<br /> medical resources and support
									</p>
								</div><!-- /.text-box -->
							</div>
						</a><!-- /.single-how-app-work -->
					</div><!-- /.how-app-work-content -->
					<!-- <a href="#" class="download-btn active">
						<i class="fab fa-apple"></i>
						<span class="inner"> <span class="avail">Available on</span> <span class="store-name">App
								Store</span></span>
					</a> -->
					<a href="#" class="download-btn">
						<i class="fab fa-google-play"></i>
						<span class="inner"><span class="avail">Available on</span> <span class="store-name">Google
								play</span></span>
					</a>
				</div><!-- /.how-app-work-content-wrap -->
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.how-app-work-section -->
<div class="separator no-border mt135 full-width"></div><!-- /.separator no-border mt135 -->
<section class="features-style-one">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="feature-style-content">
					<i class="flaticon-tools"></i>
					<h3>Enhancing Lives: Madcario's Comprehensive In-Home Healthcare Services</h3>
					<p>Healthcare service at home brings convenience and personalized care to individuals, allowing them
						to receive medical attention, monitoring, and support in the comfort and familiarity of their
						own homes, promoting overall well-being.
					</p>
					<a href="#" class="more">Discover <i class="fa fa-angle-right"></i></a>
				</div><!-- /.feature-style-content -->
			</div><!-- /.col-md-6 -->
			<div class="col-md-6">
				<img src="assets/img/117.png" class="has-dropshadow" alt="Awesome Image" />
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.features-style-one -->

<div class="separator no-border mt135 full-width"></div><!-- /.separator no-border mt135 -->

<section class="features-style-one">
	<div class="container">
		<div class="row">
			<div class="col-md-6 clearfix">
				<img src="assets/img/118.png" class="float-right" alt="" />
			</div><!-- /.col-md-6 -->
			<div class="col-md-6">
				<div class="feature-style-content pt70 pl40">
					<i class="flaticon-responsive-design-symbol"></i>
					<h3>Stay Connected, Stay Healthy: Simplify and Elevate Your Healthcare Experience.</h3>
					<p>Medcario provides skilled and compassionate medical professionals who deliver personalized care,
						medication management, and support to individuals in the comfort and familiarity of their own
						homes, promoting recovery and well-being.
					</p>
					<a href="#" class="more">Discover <i class="fa fa-angle-right"></i></a>
				</div><!-- /.feature-style-content -->
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.features-style-one -->

<div class="separator no-border mb90 full-width"></div><!-- /.separator no-border mb135 -->

<section class="video-box">
	<div class="container text-center">
		<h3>Watch a Quick Tutorial</h3>
		<a href="//www.youtube.com/watch?v=7-7knsP2n5w" class="video-popup video-btn hvr-pulse"><i
				class="fa fa-play"></i></a>
	</div><!-- /.container text-center -->
</section><!-- /.video-box -->

<div class="separator no-border mt135 full-width"></div><!-- /.separator no-border mt135 -->

<section class="app-secreenshots">
	<div class="container">
		<div class="sec-title text-center">
			<h2>App ScreenShots</h2>
		</div><!-- /.sec-title -->
	</div><!-- /.container -->
	<div class="swiper-slider-area">
		<div class="container">
			<div class="row appScreenshotCarousel-container swiper-container">
				<div class="screen-mobile-image"></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background-image:url(assets/img/ss7.png)"></div>
					<div class="swiper-slide" style="background-image:url(assets/img/ss6.png)"></div>
					<div class="swiper-slide" style="background-image:url(assets/img/ss3.png)"></div>
					<div class="swiper-slide" style="background-image:url(assets/img/ss4.png)"></div>
					<div class="swiper-slide" style="background-image:url(assets/img/ss5.png)"></div>
					<div class="swiper-slide" style="background-image:url(assets/img/ss2.png)"></div>
					<div class="swiper-slide" style="background-image:url(assets/img/ss1.png)"></div>
					<div class="swiper-slide" style="background-image:url(assets/img/ss8.png)"></div>
					<div class="swiper-slide" style="background-image:url(assets/img/ss9.png)"></div>
					<div class="swiper-slide" style="background-image:url(assets/img/ss10.png)"></div>
				</div>
				<!-- Add Arrows -->
			</div>
		</div><!-- End container -->
	</div><!-- End swiper-slider-area -->
</section><!-- /.app-secreenshots -->

<section class="testimonials-style-one">
	<div class="container">
		<!-- <img src="img/testimonials-bg.png" class="testi-thumb" alt="" /> -->
		<div class="title">
			<div class="row">
				<div class="col-md-5"></div><!-- /.col-md-5 -->
				<div class="col-md-7">
					<h3>A Testimonial to Our Exceptional Services
						Reviews</h3>
				</div><!-- /.col-md-7 -->
			</div><!-- /.row -->
		</div><!-- /.title -->
		<div id="testimonials-slider-pager">
			<a href="#" class="pager-item active" data-slide-index="0"><img src="assets/img/logo45.png"
					alt="" /></a>
			<a href="#" class="pager-item" data-slide-index="1"><img src="assets/img/logo34.png"
					alt="" /></a>
			<a href="#" class="pager-item" data-slide-index="2"><img src="assets/img/logo60.png"
					alt="" /></a>
			<a href="#" class="pager-item" data-slide-index="3"><img src="assets/img/logo93.png"
					alt="" /></a>
			<a href="#" class="pager-item" data-slide-index="4"><img src="assets/img/logo34.png"
					alt="" /></a>
			<a href="#" class="pager-item" data-slide-index="5"><img src="assets/img/logo60.png"
					alt="" /></a>
		</div><!-- /#testimonials-slider-pager -->
		<div class="testimonials-slider">
			<!--Slider-->
			<ul class="slider">
				<li class="slide-item">
					<div class="single-testimonial">
						<div class="img-box">
							<img src="assets/img/6.1.png" alt="" />
						</div><!-- /.img-box -->
						<div class="text-box">
							<img src="assets/img/testi-qoute.png" alt="" />
							<p> I recently had the opportunity to try out the "Madcario" app, and I must say that it has
								completely revolutionized the way I approach healthcare. As someone who values
								convenience and personalized care, this app exceeded my expectations in every aspect.
							</p>
							<h3>Nikhil Kashyap</h3>
							<span>CEO</span>
						</div><!-- /.text-box -->
					</div><!-- /.single-testimonial -->
				</li>
				<li class="slide-item">
					<div class="single-testimonial">
						<div class="img-box">
							<img src="assets/img/17.1.png" alt="" />
						</div><!-- /.img-box -->
						<div class="text-box">
							<img src="assets/img/testi-qoute.png" alt="" />
							<p>First and foremost, the app's user interface is intuitive and easy to navigate. Within
								minutes, I was able to create an account, input my medical history, and browse through
								the wide range of healthcare services available. The app's design is sleek, and it's
								evident that a lot of thought has been put into making it user-friendly.</p>
							<h3>Karan Sharma</h3>
							<span>CEO</span>
						</div><!-- /.text-box -->
					</div><!-- /.single-testimonial -->
				</li>
				<li class="slide-item">
					<div class="single-testimonial">
						<div class="img-box">
							<img src="assets/img/6.1.png" alt="" />
						</div><!-- /.img-box -->
						<div class="text-box">
							<img src="assets/img/testi-qoute.png" alt="" />
							<p>Convenient, comprehensive, and user-friendly. The " Medcario Health Care app brings
								personalized healthcare right to your doorstep. Highly recommended! </p>
							<h3>Akhil Tiwari</h3>
							<span>CEO</span>
						</div><!-- /.text-box -->
					</div><!-- /.single-testimonial -->
				</li>
			</ul>
		</div><!-- /.testimonials-slider -->
	</div><!-- /.container -->
</section><!-- /.testimonials-style-one -->
<!-- /.separator no-border mb135 -->

<section class="blog-style-one" id="blog">
	<div class="container">
		<div class="sec-title text-center">
			<h2>Our Latest Blog</h2>
		</div><!-- /.sec-title -->
		<div class="blog-carousel owl-theme owl-carousel">
			<div class="item">
				<div class="single-blog-post">
					<div class="img-box">
						<img src="assets/img/.png" alt="Awesome Image" />
					</div><!-- /.img-box -->
					<div class="text-box">
						<ul class="meta-info">
							<li><a href="#">Business</a></li>
							<li><a href="#">March 8, 2018</a></li>
							<li><a href="#">by Admin</a></li>
						</ul><!-- /.meta-info -->
						<a href="#">
							<h3>Super App for New Devices made by <br /> touches of new tech</h3>
						</a>
						<p>We use a customized application make rethoric of <br /> specifically designed a testing
							gnose....</p>
						<a href="#" class="read-more">Read <i class="fa fa-angle-right"></i></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-post -->
			</div><!-- /.col-md-4 -->
			<div class="item">
				<div class="single-blog-post">
					<div class="img-box">
						<img src="assets/img/.png" alt="" />
					</div><!-- /.img-box -->
					<div class="text-box">
						<ul class="meta-info">
							<li><a href="#">Business</a></li>
							<li><a href="#">March 8, 2018</a></li>
							<li><a href="#">by Admin</a></li>
						</ul><!-- /.meta-info -->
						<a href="#">
							<h3>Super App for New Devices made by <br /> touches of new tech</h3>
						</a>
						<p>We use a customized application make rethoric of <br /> specifically designed a testing
							gnose....</p>
						<a href="#" class="read-more">Read <i class="fa fa-angle-right"></i></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-post -->
			</div><!-- /.col-md-4 -->
			<div class="item">
				<div class="single-blog-post">
					<div class="img-box">
						<img src="assets/img/.png" alt="" />
					</div><!-- /.img-box -->
					<div class="text-box">
						<ul class="meta-info">
							<li><a href="#">Business</a></li>
							<li><a href="#">March 8, 2018</a></li>
							<li><a href="#">by Admin</a></li>
						</ul><!-- /.meta-info -->
						<a href="#">
							<h3>Super App for New Devices made by <br /> touches of new tech</h3>
						</a>
						<p>We use a customized application make rethoric of <br /> specifically designed a testing
							gnose....</p>
						<a href="#" class="read-more">Read <i class="fa fa-angle-right"></i></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-post -->
			</div><!-- /.col-md-4 -->
			<div class="item">
				<div class="single-blog-post">
					<div class="img-box">
						<img src="assets/img/.png" alt="" />
					</div><!-- /.img-box -->
					<div class="text-box">
						<ul class="meta-info">
							<li><a href="#">Business</a></li>
							<li><a href="#">March 8, 2018</a></li>
							<li><a href="#">by Admin</a></li>
						</ul><!-- /.meta-info -->
						<a href="#">
							<h3>Super App for New Devices made by <br /> touches of new tech</h3>
						</a>
						<p>We use a customized application make rethoric of <br /> specifically designed a testing
							gnose....</p>
						<a href="#" class="read-more">Read <i class="fa fa-angle-right"></i></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-post -->
			</div><!-- /.col-md-4 -->
			<div class="item">
				<div class="single-blog-post">
					<div class="img-box">
						<img src="assets/img/.png" alt="" />
					</div><!-- /.img-box -->
					<div class="text-box">
						<ul class="meta-info">
							<li><a href="#">Business</a></li>
							<li><a href="#">March 8, 2018</a></li>
							<li><a href="#">by Admin</a></li>
						</ul><!-- /.meta-info -->
						<a href="#">
							<h3>Super App for New Devices made by <br /> touches of new tech</h3>
						</a>
						<p>We use a customized application make rethoric of <br /> specifically designed a testing
							gnose....</p>
						<a href="#" class="read-more">Read <i class="fa fa-angle-right"></i></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-post -->
			</div><!-- /.col-md-4 -->
			<div class="item">
				<div class="single-blog-post">
					<div class="img-box">
						<img src="assets/img/.png" alt="" />
					</div><!-- /.img-box -->
					<div class="text-box">
						<ul class="meta-info">
							<li><a href="#">Business</a></li>
							<li><a href="#">March 8, 2018</a></li>
							<li><a href="#">by Admin</a></li>
						</ul><!-- /.meta-info -->
						<a href="#">
							<h3>Super App for New Devices made by <br /> touches of new tech</h3>
						</a>
						<p>We use a customized application make rethoric of <br /> specifically designed a testing
							gnose....</p>
						<a href="#" class="read-more">Read <i class="fa fa-angle-right"></i></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-post -->
			</div><!-- /.col-md-4 -->
		</div><!-- /.blog-carousel -->
	</div><!-- /.container -->
</section><!-- /.blog-style-one -->
<div class="separator no-border mb135 full-width"></div><!-- /.separator no-border mb135 -->


<div class="scrollup"><span class="fas fa-angle-up"></span></div>